<h1><%- title %></h1>
<%- messages() %>

<section id="register-form">
    <form id="loginForm" action="/account/login" method="post">
        <fieldset>
            <legend>Already have an account with us?</legend> 
            <label for="email">Email</label>
            <input type="email" name="account_email" required></input>
            <label>Password</label>
            <input type="password" name="account_password" required pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s]).{12,}$"></input>

            <button id="account-btn" type="submit">LOGIN</button>
        </fieldset>
    </form>
    <div>
        <span id="signup-link">No account? <a href="/account/register">Sign up</a></span>
    </div>
</section>

<script src="/js/script.js"></script>
