/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
:root {
  --body-font: Arial, Helvetica, sans-serif;
  --header-font: "Times New Roman", Times, serif;
  --primary-color: #ffffff;
  --secondary-color: #01b0d3;;
} 
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {

  body {
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    background-image: url('../images/site/small_check.jpg');
  }
  #wrapper {
    border-radius: 10px;
    /*margin-top: 1rem;*/
    border: 5px solid var(--secondary-color);
    padding: 1vw;
    max-width: 920px;
    background-color: var(--primary-color);
  }

  /*Header*/
  .siteName a {
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color:rgb(40, 39, 39);
    
  }
  .siteName{
    padding-bottom: 10pt;
  }
  #tools a {
    font-family: var(--body-font);
    text-decoration: none;
    color: rgb(40, 39, 39);
    font-size: 1.2rem;
    padding-right: 20pt;
  }
  /*Navigation Menu*/
  nav[aria-label="Main navigation"] {
    list-style: none;
    background-color: rgb(40, 39, 39);
    width: 100%;
  }

  nav[aria-label="Main navigation"] a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    list-style: none;
    padding: .5rem 2rem .5rem 2rem;
    gap: 1rem;
    margin: 0;

  }
  /* HOME PAGE */
  /* Hero */
.hero {
  padding: 1rem;
  background-color: white;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.hero img {
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/2;
  justify-self: center;
  padding-left: 40%;
}

#hero-text {
  position: absolute; 
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: whitesmoke;
    background: rgba(0, 0, 0, 0.1);
}
#hero-text p{
  font-family: var(--body-font);
  color:var(--secondary-color);
  font-size:1.2rem;
  line-height: 0.2;
}
#hero-text h2{
  color:var(--secondary-color);
  font-size: 2rem;
}
.image-button {
  width: 70%;
  height: auto;

}
#hero-img{
  width:fit-content;
}
#hero-img1{
  width:fit-content;
  display:none;
}
/* Upgrades*/
#upgrades {
  text-align: center;
  padding: 20px;
}

#upgrades h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}
#reviews h2 {
  font-size: 2rem;
  text-align: left;
  line-height: 2.5;
}

.caption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.cap-img {
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}
.cap-img a{
  font-size: 1.2rem;
  text-decoration: none;
  color:black
}

.cap-img img {
  width: 40%;
  height: auto;
}
#reviews{
  padding-right: 50pt;
}
#reviews ul{
  font-family: var(--body-font);
  text-align: left;
  font-size: 1rem;
  line-height: 3.5;
}
#upgrades-reviews{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
/* Classification view  */
.namePrice {
  background-color: var(--secondary-color);
}
ul#inv-display > li {
  width: 100%;
  max-width: 350px;
  background-color: lightcyan;
  color: black;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.173);
}
.namePrice a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.namePrice a:hover {
  background-color: lightcyan;
  font-size: 1.6rem;
}
#inv-display {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#inv-display li {
  display: inline-block;
  width: 220px;
  margin: 20px;
  text-align: center;
}
.namePrice {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.namePrice hr {
  margin: 5px 0;
  border: 2px solid black;
}

/* Single view */
.vehicle-listing{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.car-model p{
  font-size: 1.2rem;
}
.car-model {
  background-color: lightgrey;
  margin-left: 15pt;
}
dt{
  font-weight: bold;
  
}
.description{
  text-align: left;
  padding-left: 20px;
}
/* Register form*/
#register-form {
  background-color: var(--secondary-color); /* Light blue background for the form */
  border-radius: 8px; /* Rounded corners */
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
}

/*error page*/

.error-view p{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--body-font);
}
/* error page styling*/
.error-view h1{
  font-family: var(--header-font);
  font-size: 3rem;
}
.notice {
  color: red;
}
dt{
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 7px;
  padding-top: 7px;
}
dd{
  font-size: 1rem;
}
mark{
  background-color: lightgrey;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: none;
  }

  #wrapper {
    margin-top: 1rem;
    border: none;
    padding: 1vw;
    width: 75vw;
    max-width: none;
  }
  /* HOME PAGE */
  /*Header*/
  .siteName a {
    font-family: var(--body-font);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    color:rgb(40, 39, 39);
  }
  #tools a {
    font-family: var(--body-font);
    text-decoration: none;
    color: rgb(40, 39, 39);
    font-size: 0.6rem;
    padding-right: 20pt;
  }
/*Navigation Menu*/
nav[aria-label="Main navigation"] {
  list-style: none;
  background-color: rgb(40, 39, 39);
  width: 100%;
}

nav[aria-label="Main navigation"] a{
  color: aliceblue;
  text-decoration: none;
  font-size: .6rem;
  font-weight: bold;
}
nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  list-style: none;
  padding: .5rem 2rem .5rem 2rem;
  gap: 1rem;
  margin: 0;

}
  /* Hero */
.hero {
  padding: 1rem;
  background-color: white;
  width: 50%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding-left: 50%;
}
.hero img {
  width: 10%;
  justify-self: center;
  padding-left: 80%;
}
#hero-text {
  position: absolute; 
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
}
#hero-text p{
  font-family: var(--body-font);
  color:var(--secondary-color);
  font-size:0.5rem;
  line-height: 0.4;
}
#hero-text h2{
  color:var(--secondary-color);
  font-size: 1rem;
}
.image-button {
  width: 100%;
  height: auto;

}
#hero-img{
  width:fit-content;
  display: none;
}
#hero-img1{
  width: fit-content;
  padding-left: 20%;
}
/* Upgrades*/
#upgrades {
  text-align: center;
  padding: 20px;
}

#upgrades h2 {
  font-size: .8rem;
  margin-bottom: 20px;
  text-align: left;
}
#reviews h2 {
  font-size: .8rem;
  text-align: left;
  line-height: 2.5;
}

.caption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin: 0 auto;
}

.cap-img {
  background-color: var(--secondary-color);
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}
.cap-img p a{
  font-size: 1rem;
  text-decoration: none;
}

.cap-img img {
  width: 40%;
  height: auto;
}
#reviews{
  padding-right: 50pt;
}
#reviews ul{
  font-family: var(--body-font);
  text-align: left;
  font-size: .8rem;
  line-height: 1.5;
}
/* Classification view  */
.namePrice {
  background-color: var(--secondary-color);
}
ul#inv-display > li {
  width: 100%;
  max-width: 350px;
  background-color: lightcyan;
  color: black;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.173);
}
.namePrice a{
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.namePrice a:hover {
  background-color: lightcyan;
  font-size: 1.6rem;
}

#inv-display {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#inv-display li {
  display: inline-block;
  width: 220px;
  margin: 20px;
  text-align: center;
}
.namePrice {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.namePrice hr {
  margin: 5px 0;
  border: 2px solid black;
}
/* Single view */
.vehicle-listing{
  display: grid;
  grid-template-columns: 1fr;

}
.car-model {
  background-color: lightgrey;
}
.vehicle-listing img{
  width: 100%;
  height: auto;
}


/* Footer*/
footer {
  font-family: var(--body-font);
  font-size: .8rem;
  color: rgb(40, 39, 39);
  text-align: left;
  padding: 5px;
  margin-top: 10px;
}

#messages {
  padding-bottom: 15pt;
}

/* form*/

/*error page styling*/

.error-view p{
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--body-font);
}

.error-view h1{
  font-family: var(--header-font);
  font-size: 2rem;
}
}
/* Register form*/
/* Form container styling */
#register-form {
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

/* Fieldset styling */
fieldset {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 0 10px;
  background-color: #f0f8ff; 
}

/* Input styling */
input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}
input:required:invalid, input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
 }
  input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
  }
  input:focus {
    background-color: lightgray;
  }

/* Button styling */
#account-btn{
  width: 100%;
  padding: 12px;
  background-color: darkslategrey;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover effect */
#account-btn:hover {
  background-color: #45a049;
}
/* Password notification*/
.fineprint{
  color:#3a3939;
  margin-top: 0;
  font-size: 0.9rem;
  font-family: var(--body-font);
}

/* Link to access sign-up page*/
#signup-link, #signup-link a{
  font-size: 18px;
}
/* form add-inventory*/
.add-new-inventory {
  border: 2px solid whitesmoke;
  border-radius: 8px;
  padding: 10px;
}
.fineprint-add-classification{
  margin-top: 0;
  font-size: 0.9rem;
  font-family: var(--body-font);
}
#class-name{
  font-size: 1.3rem;
  font-family: var(--body-font);
  margin-bottom: 20px;
  margin-top: 15px;
}

#register-form h2{
  font-family: Arial, Helvetica, sans-serif;
}