<h1><%- title %></h1>
<%- messages() %> 
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<section id="register-form">
    <h2>FIELD IS REQUIRED</h2>

        <form class="add-new-inventory" action="inv/add-classification" method="post">
                <p id="class-name">Classification Name</p>
                <p class="fineprint-add-classification">NAME MUST BE ALPHABETIC CHARACTERS ONLY AND CANNOT CONTAIN SPACE</p>
                <input type="text" name="classification_name" value="<%= locals.classification_name %>" pattern="[0-9a-zA-Z]+" required>
                <button id="account-btn" type="submit">Add Classification</button>
        </form>
</section>