<h1><%- title %></h1>
<%- messages() %> 
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<section id="register-form">
    <h2>FIELD IS REQUIRED</h2>
      <form class="add-new-inventory" action="/inv/add-classification" method="post">
        <label for="classification_name" id="class-name">Classification Name
          <input type="text" id="classification_name" name="classification_name" 
          pattern="[0-9a-zA-Z]+" value="<%= locals.classification_name %>" required></label>
        <p class="fineprint-add-classification">NAME MUST BE ALPHABETIC CHARACTERS ONLY AND CANNOT CONTAIN SPACE</p>
      
          <button id="account-btn" type="submit">Add Classification</button>
      </form>
</section>