<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
    <%  }) %>
   </ul>
  <% } %>
<!--Deliver an add new classification view and an add new inventory view-->

<ul class="add-new-inventory">
    <li>
        <a href="/inv/add-classification">Add New Classification</a>
    </li>
    <li>
        <a href="/inv/add-inventory">Add New Vehicle</a>
    </li>
</ul>

