<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
    <%  }) %>
   </ul>
  <% } %>
<!--Deliver an add new classification view and an add new inventory view-->

<ul class="add-new-inventory">
    <li>
        <a href="/inv/add-classification">Add New Classification</a>
    </li>
    <li>
        <a href="/inv/add-inventory">Add New Vehicle</a>
    </li>
</ul>
<div class="manage-inventory">
    <h2>Manage Inventory</h2>
    <p class="manage-inventory">Choose a classification to see the inventory items.</p>
    <div class="inventory-list">
        <%- classificationSelect %>

    <table id="inventoryDisplay"></table>
    </div>
</div>

<noscript>Javascript must be enable to use this page.</noscript>

<script src="../../js/inventory.js"></script>
